old/
codegen/
headers/
libs/
reissner/
.*
!.gitignore
examples/Kepler/Kepler
examples/Kepler/results.csv
examples/RigidBody/RigidBody
examples/RigidBody/results.csv
animation/img/*.png
testing
results.csv
